<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking App</title>
</head>
<body>
    {{>header}}
   <div class="main">
		<div class="container">


			<div class="row">
				<div class="col">
					<div class="wrapper">
						<h2>SPARK</h2>
						<h2>SPARK</h2>

						<h2>BanK</h2>
						<h2>Bank</h2>
					</div>
				</div>
				<div class="col">
					<a href="/login">
						<div class="card card1" style="--clr:#1e9bff">
							<h4>LOG IN</h4>

						</div>
					</a>
					<a href="/allusers">
						<div class="card card2">
							<h4>ALL USER</h4>

						</div>
					</a>
					<a href="/adduser">
						<div class="card card3">
							<h4>CREATE ACCOUNT</h4>

						</div>
					</a>
					<a href="delete">
						<div class="card card4">
							<h4>MANAGE ACCOUNT</h4>

						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</body>
</html>