<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Page</title> --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transfer Money</title>
	<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="/css/style.css">
    {{>head}}
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
</head>

<body>
    {{>header}}
    {{!-- <div class="transactionmain">
        <h1>This is the Transaction page</h1>
        <h3>Sender's Name</h3>
        <input type="text" id="senderName">
        <h3 id="foundSender"></h3>
        <h3>Beneficiary Name : </h3>
        <input type="text" id="benName">
        
        <select id="selectedValue">
            <option>Select a Beneficiary Name</option>
            {{#each data}}
                <option>{{name}}</option>
            {{/each}}
        </select>

        <h3 id="foundBen"></h3>
        <h3>Amount</h3>
        <input type="number" id="amount" placeholder="$">
        <button id="transfer">Transfer</button>
        <h2 style="visibility: hidden;" id="success"></h2> --}}

        <div class="transaction">
    <div class="container">
		<div class="row"><img src="https://iephosting.com/app/views/client/bootstrap/images/graphic8.svg" id="imageAsBackground" alt="" /></div>
		<div class="row align-items-center justify-content-center" style="height:100vh;">
		  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
			<div class="card">
			  <div class="card-body">
				<div class="form-icon">
				  <div class="icon-holder">
					<i class="fa-2x fa-solid fa-exchange text-light" style="margin-top: 5px;"></i>
				  </div>
				</div>
				<h3 class="text-center" >TRANSFER MONEY</h3>
				<div id="registerForm">
				  <div class="form-floating mb-3">
					<input type="text" class="form-control" id="senderName" placeholder="Input your Username" autocomplete="off" name="username">
					<label for="userInput">Sender Name</label>
				  </div>
                   <h4 id="foundSender"></h4>
				  <!-- <div class="form-floating mb-3">
					<input type="email" class="form-control" id="emailInput" placeholder="Input your email" autocomplete="off" name="email" required>
					<label for="emailInput">Email address</label>
				  </div> -->
				  <div class="form-floating mb-3">
					<input type="text" class="form-control" id="benName" placeholder="Input your Name" autocomplete="off" name="name" >
					<label for="nameInput">Beneficiary Name</label>
				  </div>
                  <h4 id="foundBen"></h4>
                  <h3 style="font-size: 1rem;text-align:center">OR</h3>
                  <div class="form-floating mb-3">
					<select id="selectedValue">
                        <option>Select an Existing Beneficiary Name</option>
                        {{#each data}}
                          
                                <option class="form-control">{{name}}</option>
                            
                        {{/each}}
                    </select>
				  </div>
				  <div class="form-floating mb-3">
					<input type="number" class="form-control" id="amount" name="password" placeholder="Input your password" >
					<label for="passwordInput">Enter Amount</label>
				  </div>
				  
	  
				  <div class="text-center mb-5">
					<button id="transfer" class="btn btn-outline-primary">Transfer</button>
				  </div>
                   <div class="text-center mb-5">
					<h2 style="visibility: hidden;" id="success"></h2>
				  </div>
                  
				</div>
			  </div>
			  <div class="card-footer text-center">
				<button class="btn btn-sm btn-primary radius" data-bs-toggle="modal" data-bs-target="#staticBackdrop">See List of Accounts</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="modal" id="staticBackdrop">
		<div class="modal-dialog modal-dialog-centered modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">List of transfer money </h4>
			  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
	  
			  <div class="table-responsive">
				<table id="accountTable" class="table table-striped" style="width:100%">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Email</th>
					  <th>Sender Name</th>
					  <th>Beneficiary Name</th>
					  <th>Amount</th>
					</tr>
				  </thead>
				  <tbody id="tbody">
				  </tbody>
				</table>
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>

    </div>
    </div>


    <script src="/js/transaction.js"></script>
</body>

</html>