<header>
    <link rel="stylesheet" href="/css/style.css">
    <img height="100px" width="100px" src="/img/logo.png" class="logo" style="padding: 2%;">
    <h2>Gramin Bank</h2>
    <div class="wrapper">
        <a href="/">Home</a>
        <a href="/allusers">All Users</a>
        <a href="/adduser">Create Account</a>
        <a href="/login">Login</a>
        <a href="/delete">Manage Account</a>
    </div>
</header>