* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;

}

header {
	background: linear-gradient(rgba(35, 46, 82, 1), rgba(26, 41, 78, 1), rgba(8, 10, 48, 1));
	display: flex;
	align-items: center;
}

header h2 {
	color: white;
	padding: 1%;
	padding-right: 7%;
}

header .wrapper {
	display: flex;
	justify-content: space-evenly;
	padding: 1%;
	width: 60%;
	margin-left: 20%;
}

header a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: white;
}

header a:hover {
	color: #999;
}

.container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url('../img/background.png');
	background-position: center;
	background-size: cover;
	position: relative;
}

.form-box {
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 50px 60px 70px;
	text-align: center;
}

.form-box h1 {
	font-size: 30px;
	margin-bottom: 60px;
	color: #3c00a0;
	position: relative;
}

.form-box h1::after {
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%);
}

/* For the sign in form */
.signIn .form-box {
	max-height: 450px;
}

.signIn .input-group {
	max-height: 200px;
}

.input-field {
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height 0.5s;
	overflow: hidden;
}

.form-box input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}

.input-feild i {
	margin-left: 15px;
	color: #999;
}

form p {
	text-align: left;
	font-size: 13px;
}

form p a {
	text-decoration: none;
	color: #3c00a0;
}

.btn-field {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.btn-field button {
	flex-basis: 48%;
	background: #3c00a0;
	color: #fff;
	height: 40px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: background 1s;
}

#creationMessage {
	color: #3c00a0;
	font-weight: bold;
	margin-top: 2%;
	font-size: 1.5em;
	visibility: hidden;
}

.input-group {
	height: 280px;
}

.btn-field button.disable {
	background-color: #eaeaea;
	color: #555;
}

/* Transaction Page */
.transactionmain {
	background-color: #3c00a0;
}


/* Delete Page CSS */
.deleteAccount .form-box {
	max-height: 450px;
}

.deleteAccount .input-group {
	max-height: 200px;
}

.deleteAccount #creationMessage {
	margin-top: -10%;
}


/* Transaction Page CSS*/


.transaction .container {
	max-width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(/img/tansfer2.jpg);
	background-position: center;
	background-size: cover;

}

.transaction .container h3 {
	font-size: 30px;
	margin-bottom: 60px;
	color: #3c00a0;
	position: relative;
}

.transaction .container h3::after {
	content: '';
	width: 75%;
	height: 4px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%);
}



.transaction .radius {
	border-radius: 20px !important;
}

.transaction .card {
	border-radius: 20px !important;
	border-color: #3c00a0;
}

.transaction .card-body .form-icon {
	text-align: center;
	width: 100%;
	line-height: 0;
	margin-top: calc(-42px - 35px);
	margin-bottom: 28px;
}

.transaction .form-icon .icon-holder {
	position: relative;
	display: inline-block;
	width: 85px;
	height: 85px;
	border-radius: 85px;
	background-color: #3c00a0;
	padding: 20px;
	margin-top: 15px;
}

.transaction .icon-holder img {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	margin-top: -23%;
	margin-left: -25%;
}

.transaction input:hover {
	border-bottom: 1px solid #3c00a0;
}

.transaction #imageAsBackground {
	z-index: -1;
	position: fixed;
	top: 50%;
	right: -1%;
	transform: translateY(-50%);
	max-height: 600px;
}

.transaction a:hover {
	text-decoration: none;
}

.transaction .form-control:focus {
	border-color: #292828;
	box-shadow: none;
}

.transaction .form-control.is-invalid {
	background-image: none;
}

.transaction .form-control.is-invalid:focus {
	box-shadow: 0 3px 2px -2px red;
}

.transaction .pass {
	float: right;
	margin-right: 15px;
	margin-top: -35px;
	position: relative;
	z-index: 5;
	font-size: 18px;
}

/* .masked {
	-webkit-text-security: disc;
  } */

.transaction .tablepass {
	margin-left: 5px;
}

.transaction select {
	width: 100%;
	height: 3.5rem;
	text-align: center;
	font-size: 1rem;
	background-color: #f7f7f9;

	font-weight: 200;
	border-color: black !important;
	letter-spacing: 1px;
}

.transaction h4 {
	text-align: center;
	color: #292828;
	font-size: .8rem;
}

.transaction h2 {
	text-align: center;
	color: #292828;
	font-size: 1rem;

}



/* Main page CSS */
.main .container h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
   font-size: 8em;
   margin-left: 150px;
  }
  
.main .container h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.main .container h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate 
{
    0%, 100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.main .container h2:nth-child(3){
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 8em;
    margin-left: 150px;
    margin-top: 100px;
  }
  
.main .container h2:nth-child(4){
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 8em;
    margin-left: 140px;
    margin-top: 100px;
    marg
  }

.main .container h2:nth-child(3)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.main .container h2:nth-child(4)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate 
{
    0%, 100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
.main .container{
     background-color: black;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/img/mainbank8.jpg);
      background-position: center;
      background-size: cover;
      padding-left: 8%;
      padding-right: 8%;
      box-sizing: border-box;
  }
  
  
.main .logo{
      width: 50px;
      cursor: pointer;
  }
  
.main .menu-icon{
      width: 30px;
      cursor: pointer;
      margin-left: 40px;
  }
  
  
  
.main .row{
      display: flex;
      height: 88%;
      align-items: center;
  }
  
.main .col{
      flex-basis: 50%;
	margin-left: 10%;
}
.main .wrapper{
	margin-bottom: 20%;
} 
.main h1{
      color: #fff;
      font-size: 100px;
  }
  
.main p{
      color: #fff;
      font-size: 11px;
      line-height: 15px;
  }
  
.main .card{
      width: 200px;
      height: 230px;
      display: inline-block;
      border-radius: 10px;
    
      padding: 15px 25px;
      box-sizing: border-box;
      cursor: pointer;
      margin: 10px 15px;
      background-position: center;
      background-size: cover;
      transition: transform 0.5s; 
  }
.main .card1 {
      background-image: url(/img/mainbank6.jpg);
     
  }
.main .card2 {
      background-image: url(/img/mainbank5.jpg);
  }
.main .card3 {
      background-image: url(/img/mainbank9.jpg);
  }
.main .card4 {
      background-image: url(/img/mainbank10.jpg);
  }
  
.main .card:hover{
      transform: translateY(-10px);
  }
.main h4{
      color:  #black; 
      text-shadow: #FC0 1px 0 10px;
      font-size: 1.5rem;
  }
 

/* All users CSS */
.allusers {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(/img/background.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.allusers h1 {
	text-align: center;
	font-size: 30px;
	color: white;
	font-weight: bold;
}

.allusers p {
	height: 5px;
	background-color: white;
	width: 20%;
	text-align: center;
	margin-left: 40%;
	margin-right: 50%;
	margin-top: 5%;
}

.allusers .head {
	padding: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.allusers .tableContainer {
	padding-left: 2%;
	padding-right: 2%;
}

.allusers {
	color: #3c00a0;
}

.allusers thead {
	font-weight: bold;
	font-size: 1.5em;

}

.allusers td {
	text-align: center;
	padding: 2%;
	background-color: white;
	font-weight: bold;
	font-size: 1.2em;
}